@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Blambot;
  src: url("/fonts/Blambot.otf");
}

@font-face {
  font-family: BlambotAlt;
  src: url("/fonts/BlambotAlt.otf");
}

@font-face {
  font-family: BlambotBold;
  src: url("/fonts/BlambotBold.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: BlambotAlt, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #eee;
  place-items: center;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(0)" opacity="0.2" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="rgba(0, 0, 255, 0.3)"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'), #e6f8ff;
  background-size: 10px, 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.danger-pulse {
  -webkit-animation: dangerPulse 1s ease infinite;
          animation: dangerPulse 1s ease infinite;
}

.intro-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background: #0050d4;
  background: -webkit-gradient(linear, left top, left bottom, from(#0050d4), to(#3b82f6));
  background: linear-gradient(180deg, #0050d4 0%, #3b82f6 100%);
}

.huge-emoji {
  font-size: 120px;
}

@media (min-width: 1024px) {
  .huge-emoji {
    font-size: 160px;
  }
  @-webkit-keyframes dangerPulse {
    0%, 100% {
      scale: 1;
    }
    50% {
      scale: 1.05;
    }
  }
  @keyframes dangerPulse {
    0%, 100% {
      scale: 1;
    }
    50% {
      scale: 1.05;
    }
  }
}

@-webkit-keyframes dangerPulse {
  0%, 100% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
}

@keyframes dangerPulse {
  0%, 100% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
}

.offcanvas-menu {
  position: fixed;
  top: 0;
  right: -350px;
  /* Position offscreen */
  bottom: 0;
  width: 350px;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  /* Add right transition */
  z-index: 60;
  border-left: 4px solid black;
  overflow: scroll;
}

.offcanvas-menu.open {
  right: 0px;
  /* Position offscreen */
  -webkit-transform: translateX(0);
          transform: translateX(0);
  /* Show menu */
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.offcanvas-menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.grow-shrink {
  -webkit-animation-name: grow-shrink;
          animation-name: grow-shrink;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes grow-shrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow-shrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.bg-smiles {
  background-size: cover;
  background-repeat: no-repeat;
}

.corner-smiley {
  height: 100px;
}

.horizontalLogo {
  height: 40px;
}

.menuMediaType::first-letter {
  font-size: 1rem;
}

@media (min-width: 640px) {
  .corner-smiley {
    height: 200px;
  }
  .menuMediaType::first-letter {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .corner-smiley {
    height: 300px;
  }
  .horizontalLogo {
    height: 60px;
  }
}

.lift {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09), 0 3px 6px rgba(0, 0, 0, 0.11);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09), 0 3px 6px rgba(0, 0, 0, 0.11);
}

.shadow-lift {
  -webkit-box-shadow: 0px 8px 0 black;
          box-shadow: 0px 8px 0 black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.shadow-lift:hover {
  -webkit-box-shadow: 0px 2px 0 black;
          box-shadow: 0px 2px 0 black;
}

.bloom {
  -webkit-animation-name: bloom;
          animation-name: bloom;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 0;
}

@-webkit-keyframes bloom {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bloom {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.popover-trigger {
  position: relative;
}

.popover {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.5rem;
  background-color: white;
  color: black;
  border: 4px solid black;
}
/*# sourceMappingURL=globals.css.map */